POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=bank-db
APP_JWT_SECRET=x90kThs64fPmxsNS7kDEPx/UjOH8ZSBvUcKnpivWu/I3FJ1/uxqkOHq5NxqAv43qAFriH7cmsj8Ky53WJqTCOA==
ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin123
ADMIN_EMAIL=admin@mail.com